#include <windows.h>

STRINGTABLE
	LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
BEGIN
    1   "Morphing Uniform Polyhedra"

END

1   VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEFLAGSMASK   VS_FF_PRERELEASE
    FILEFLAGS       VS_FF_PRERELEASE
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     0x0L
BEGIN
    BLOCK       "StringFileInfo"
    BEGIN
        BLOCK   "080904b0"
        BEGIN
	    VALUE   "CompanyName", "QuiteSoft"
            VALUE   "FileDescription", "OpenGL Uniform Polyhedra screen saver"
            VALUE   "FileVersion", "1, 0, 0, 0"
            VALUE   "InternalName", "Polymorph"
            VALUE   "LegalCopyright", "Copyright (C) 2005-2012 Richard Copley"
            VALUE   "OriginalFilename", "polymorph.scr"
            VALUE   "ProductName", "OpenGL Uniform Polyhedra screen saver"
            VALUE   "ProductVersion", "1, 0, 0, 0"
        END
    END
    BLOCK   "VarFileInfo"
    BEGIN
        VALUE   "Translation", 0x809, 1200
    END
END

256 256  ".obj/data"
257 ICON "icosahedron.ico"
258 258  ".obj/vertex-shader.glsl.mini"
259 259  ".obj/shared-geometry-shader.glsl.mini"
260 260  ".obj/geometry-shader.glsl.mini"
261 261  ".obj/snub-geometry-shader.glsl.mini"
262 262  ".obj/antisnub-geometry-shader.glsl.mini"
263 263  ".obj/fragment-shader.glsl.mini"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "polymorph.scr.manifest"
