// Copyright 2012-2017 Richard Copley
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

#include "resources.h"
#include "dialog.h"

STRINGTABLE
    LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
BEGIN
    1   APPNAME
END

IDI_APPICON ICON "polyhedron.ico"

IDR_VERTEX_SHADER RCDATA "vertex-shader.glsl"
IDR_GEOMETRY_SHADER RCDATA "geometry-shader.glsl"
IDR_FRAGMENT_SHADER RCDATA "fragment-shader.glsl"

#define DLGW 300
#define DLGH 166
#define TRACKBAR_STYLE TBS_NOTICKS | TBS_BOTH | TBS_DOWNISLEFT | WS_TABSTOP

#if OWNER_DRAWN_TRACKBAR_BUDDIES_ENABLED
#define LEFT_BUDDY_TYPE LTEXT
#define RIGHT_BUDDY_TYPE LTEXT
#define LEFT_BUDDY_STYLE SS_OWNERDRAW
#define RIGHT_BUDDY_STYLE SS_OWNERDRAW
#else
#define LEFT_BUDDY_TYPE RTEXT
#define RIGHT_BUDDY_TYPE LTEXT
#define LEFT_BUDDY_STYLE 0
#define RIGHT_BUDDY_STYLE 0
#endif

#define TRACKBAR_CONTROL(id) CONTROL "", id, TRACKBAR_CLASS, TRACKBAR_STYLE

IDD_CONFIGURE DIALOGEX 24, 24, DLGW, DLGH

STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
EXSTYLE WS_EX_APPWINDOW
CAPTION "Polymorph"
FONT 9, "Segoe UI", 0, 0, 0x1

BEGIN
  ICON     IDI_APPICON, IDC_STATIC,            30,   22,    0,    0

  LTEXT    "And the ratios of their numbers, motions, and other properties, everywhere God, as far as necessity allowed or gave consent, has exactly perfected, and harmonised in due proportion.",
           IDC_MESSAGE,                        80,   14,  150,   36

  CTEXT    "TIMAEUS, Plato.", IDC_STATIC,      80,   50,  150,   10

  // The id of trackbar n is IDC_TRACKBARS_START + 4 * n, and its buddies
  // have the two succeeding ids (this numbering is assumed in "dialog.cpp").
  // Statements are ordered so as to label the trackbars "More", "Hotter",
  // "Faster", "Bigger" (for accessibility tools).

  LEFT_BUDDY_TYPE   "Fewer",   IDC_TRACKBARS_START + 2,    0,    0,   50,   14,  LEFT_BUDDY_STYLE
  RIGHT_BUDDY_TYPE  "More",    IDC_TRACKBARS_START + 1,    0,    0,   50,   14,  RIGHT_BUDDY_STYLE
  TRACKBAR_CONTROL (IDC_TRACKBARS_START + 0),  76,   64,  146,   14

  LEFT_BUDDY_TYPE   "Colder",  IDC_TRACKBARS_START + 6,    0,    0,   50,   14,  LEFT_BUDDY_STYLE
  RIGHT_BUDDY_TYPE  "Hotter",  IDC_TRACKBARS_START + 5,    0,    0,   50,   14,  RIGHT_BUDDY_STYLE
  TRACKBAR_CONTROL (IDC_TRACKBARS_START + 4),  76,   80,  146,   14

  LEFT_BUDDY_TYPE   "Slower",  IDC_TRACKBARS_START + 10,   0,    0,   50,   14,  LEFT_BUDDY_STYLE
  RIGHT_BUDDY_TYPE  "Faster",  IDC_TRACKBARS_START + 9,    0,    0,   50,   14,  RIGHT_BUDDY_STYLE
  TRACKBAR_CONTROL (IDC_TRACKBARS_START + 8),  76,   96,  146,   14

  LEFT_BUDDY_TYPE   "Smaller", IDC_TRACKBARS_START + 14,   0,    0,   50,   14,  LEFT_BUDDY_STYLE
  RIGHT_BUDDY_TYPE  "Bigger",  IDC_TRACKBARS_START + 13,   0,    0,   50,   14,  RIGHT_BUDDY_STYLE
  TRACKBAR_CONTROL (IDC_TRACKBARS_START + 12), 76,  112,  146,   14

  CONTROL "<a href=""https://buster.me.uk"">buster.me.uk</a>",
                 IDC_SYSLINK, "SysLink", WS_TABSTOP,       8,  DLGH - 36,  DLGW - 16,  10

  LTEXT          "", IDC_BUTTONS_STATIC,                   0,  DLGH - 26,       DLGW,  26
  DEFPUSHBUTTON  "OK", IDOK,                      DLGW - 164,  DLGH - 20,         50,  14
  PUSHBUTTON     "Cancel", IDCANCEL,              DLGW - 110,  DLGH - 20,         50,  14
  PUSHBUTTON     "&Preview", IDC_PREVIEW_BUTTON,  DLGW -  56,  DLGH - 20,         50,  14
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "polymorph.scr.manifest"
