#include "resources.h"

STRINGTABLE
    LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
BEGIN
    1   "Polymorph"
END

1   VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEFLAGSMASK   VS_FF_PRERELEASE
    FILEFLAGS       VS_FF_PRERELEASE
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     0x0L
BEGIN
    BLOCK       "StringFileInfo"
    BEGIN
        BLOCK   "080904b0"
        BEGIN
            VALUE   "CompanyName", "Someware"
            VALUE   "FileDescription", "Polymorph"
            VALUE   "FileVersion", "1, 0, 0, 0"
            VALUE   "InternalName", "Polymorph"
            VALUE   "LegalCopyright", "Copyright (C) 2005-2013 Richard Copley"
            VALUE   "OriginalFilename", "polymorph.scr"
            VALUE   "ProductName", "Polymorph"
            VALUE   "ProductVersion", "1, 0, 0, 0"
        END
    END
    BLOCK   "VarFileInfo"
    BEGIN
        VALUE   "Translation", 0x809, 1200
    END
END

IDI_APPICON ICON "icosahedron.ico"

IDR_DATA RCDATA "data"
IDR_VERTEX_SHADER RCDATA "vertex-shader.glsl.mini"
IDR_SHARED_GEOMETRY_SHADER RCDATA "shared-geometry-shader.glsl.mini"
IDR_GEOMETRY_SHADER RCDATA "geometry-shader.glsl.mini"
IDR_SNUB_GEOMETRY_SHADER RCDATA "snub-geometry-shader.glsl.mini"
IDR_FRAGMENT_SHADER RCDATA "fragment-shader.glsl.mini"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "polymorph.scr.manifest"
